PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/oeebox
JWT_SECRET=cambia-este-secret-en-produccion
NODE_ENV=production
ENABLE_SIMULATOR=true
ENABLE_MODBUS=false
LICENSE_FILE=./license.key

PLANT_NAME=Demo OEE Box
COMPANY_NAME=artemiodev.com
